@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #f0f4ff;
    --surface: #ffffff;
    --accent: #4f46e5;
    --accent2: #06b6d4;
    --success: #10b981;
    --warning: #f59e0b;
    --danger: #ef4444;
    --text: #111827;
    --muted: #6b7280;
  }
}

body {
  color: var(--text);
  background-color: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
